@using SurfsUp_Models;
@inject HttpClient Http

<div class="card" style="width: 18rem;">
    @if (Status == "Card")
    {
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Surfboard.Title</h5>
            <p class="card-text">@Surfboard.Type</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Length</span> @Surfboard.Length</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Width</span> @Surfboard.Width</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Volume</span> @Surfboard.Volume</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Thickness</span> @Surfboard.Thickness</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Price</span> @Surfboard.Price</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Equipment</span> @Surfboard.Equipment</li>
        </ul>
        <div class="card-body">
            <button class="btn btn-primary" @onclick="UpdateSurfboard">Update Surboard</button>
            <button class="btn btn-primary" @onclick="DeleteSurfboard">Delete Surfboard</button>
        </div>
    }
    @if (Status == "Delete")
    {
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Surfboard.Title <span class="badge bg-secondary opacity-50">Delete</span></h5>
            <p class="card-text">@Surfboard.Type</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Length</span> @Surfboard.Length</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Width</span> @Surfboard.Width</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Volume</span> @Surfboard.Volume</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Thickness</span> @Surfboard.Thickness</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Price</span> @Surfboard.Price</li>
            <li class="list-group-item"><span class="badge bg-secondary opacity-50">Equipment</span> @Surfboard.Equipment</li>

        </ul>
        <div class="card-body">
            <button class="btn btn-primary" @onclick="ConfirmDelete">Confirm</button>
            <button class="btn btn-primary" @onclick="GoBackToCard">Cancel</button>
        </div>
    }
    @if (Status == "Update")
    {
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-Title">Title</span>
                    </div>
                    <input type="text" class="form-control" @bind-value="@Surfboard.Title" placeholder="Title" aria-label="Title" aria-describedby="basic-Title">
                </div>
                <span class="badge bg-secondary opacity-50">Update</span>
            </h5>
            <p class="card-text">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-Type">Type</span>
                    </div>
                    <input type="text" class="form-control" @bind-value="@Surfboard.Type" placeholder="Type" aria-label="Type" aria-describedby="basic-Type">
                </div>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-Length">Length</span>
                    </div>
                    <input type="text" class="form-control" @bind-value="@Surfboard.Length" placeholder="Length" aria-label="Length" aria-describedby="basic-Length">
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-Width">Width</span>
                    </div>
                    <input type="text" class="form-control" @bind-value="@Surfboard.Width" placeholder="Width" aria-label="Width" aria-describedby="basic-Width">
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-Volume">Volume</span>
                    </div>
                    <input type="text" class="form-control" @bind-value="@Surfboard.Volume" placeholder="Volume" aria-label="Volume" aria-describedby="basic-Volume">
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-Volume">Thickness</span>
                    </div>
                    <input type="text" class="form-control" @bind-value="@Surfboard.Thickness" placeholder="Thickness" aria-label="Thickness" aria-describedby="basic-Thickness">
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-Volume">Price</span>
                    </div>
                    <input type="text" class="form-control" @bind-value="@Surfboard.Price" placeholder="Price" aria-label="Price" aria-describedby="basic-Price">
                </div>
            </li>
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-Volume">Equipment</span>
                    </div>
                    <input type="text" class="form-control" @bind-value="@Surfboard.Equipment" placeholder="Equipment" aria-label="Equipment" aria-describedby="basic-Equipment">
                </div>
            </li>
        </ul>
        <div class="card-body">
            <button class="btn btn-primary" @onclick="ConfirmUpdate">Confirm</button>
            <button class="btn btn-primary" @onclick="GoBackToCard">Cancel</button>
        </div>
    }
</div>
@code 
{
    [Parameter]
    public EventCallback<Surfboard> RemoveMeFromList { get; set; }
    [Parameter]
    public Surfboard Surfboard { get; set; }
    public Surfboard BeforeUpdate { get; set; }
    private string Status { get; set; } = "Card";

    private void UpdateSurfboard()
    {
        Status = "Update";
        BeforeUpdate = (Surfboard)Surfboard.Clone();
    }

    private void DeleteSurfboard()
    {
        Status = "Delete";
    }
    private async Task ConfirmDelete()
    {
        Status = "Card";
        var response = await Http.DeleteAsync($"/Surfboards/Delete?id={Surfboard.Id}");
        if (response.IsSuccessStatusCode)
        {
            await RemoveMeFromList.InvokeAsync(Surfboard);
            return;
        }
        return;
    }
    private void GoBackToCard()
    {
        Status = "Card";
    }
    private async Task ConfirmUpdate()
    {
        Status = "Card";
        var response = await Http.PutAsJsonAsync<Surfboard>($"/Surfboards/Update?id={Surfboard.Id}", Surfboard);
        if (response.IsSuccessStatusCode)
        {
            GoBackToCard();
            return;
        }
        Surfboard = (Surfboard)BeforeUpdate.Clone();
        return;
    }
}
